
body{
    background: aqua;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}

@media (max-width:768px) {
    body {
        display: flex;
        width: 40%;
    }
} 

/* GRID FOR ELEMENTS */
.layout {
    display: grid;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: 100px auto 100px;
}

header {
    background: rgb(0,52,255);
    background: radial-gradient(circle, rgba(0,52,255,1) 35%, rgba(76,215,255,1) 100%);
    grid-column-start: span 3;
}

main {
    background: rgb(0,52,255);
    background: radial-gradient(circle, rgba(0,52,255,1) 35%, rgba(76,215,255,1) 100%);
    grid-column-start: span 2;
}

aside {
    background: rgb(76,215,255);
    background: radial-gradient(circle, rgba(76,215,255,1) 35%, rgba(0,52,255,1) 100%);
    grid-column-start: span 1;
}

footer {
    background: rgb(0,52,255);
    background: radial-gradient(circle, rgba(0,52,255,1) 35%, rgba(76,215,255,1) 100%);
    grid-column-start: span 3;
}

/* ADD RESPONSIVENESS */
@media (max-width:768px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto 100px;
    }
    header,main,footer {
        grid-column-start: span 1;
    }
    aside {
        display: none;
    }
} 

/* header */

header {
    width: 100%;
    height: 100px;
    display: block;
    box-shadow: 1px 2px 4px 3px #4cd7ff;
    position: sticky;
    top: 0;
    z-index: 99;
}

nav {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: block;
    background: rgb(76,215,255);
    background: radial-gradient(circle, rgba(76,215,255,1) 35%, rgba(0,52,255,1) 100%);
    box-shadow: 1px 2px 4px 3px #4cd7ff;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .875rem;
}

nav span .logo {
    height: 100%;
    font-size: 1.rem;
    color: whitesmoke;
    margin-left: .5rem;
    float: left;
    /* way to vertically align center */
    display: table; 
}

nav div .sitename {
    font-size: 2.5rem;
    color: white;
    height: 100%;
    /* how to center vertically */
    display: table-cell;
    vertical-align: middle;
}

ul .navigation {
    float: right;
    height: 100%;
}

nav ul li {
    display: table;
    float: left;
    height: 100%;
    padding: 0 15px;
}

ul li a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
}

@media (max-width:768px) {
    .layout header {
        width: 100%;
    }
    nav {
        width:100%;
    }
} 

/* main */
main {
    width: 98.7vw;
    height: auto;
    margin: 0rem; 
}

main article {
    width: 100%;
    height: auto;
}

.banner img {
    object-fit: cover;
    height: auto;
    width: 100%;
    box-shadow: 1px 3px 4px 4px #4cd7ff;
}

article .col {
    width: 49.5%;
}

.col .post .postimg {
    display: inline-flex;
    width: 305px;
    height: 406px;
    margin-left: 6.5rem;
    box-shadow: 1px 3px 4px 4px #4cd7ff;
}

article .col .post {
    box-shadow: 1px 2px 4px 3px #4cd7ff;
    margin-top: .5rem;
    width: 97vw;
}

@media (max-width: 768px) {
    .layout main {
        margin: 0rem;
        width: 100vw;
    }
    .col .post .postimg {
        margin-left: 12rem;
    }

}
/* footer */
footer span a {
    float: right;
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  
footer a i:hover {
    background-color: rgb(0,52,255);
    font-size: 2.5rem;
    
  }

footer {
    width: 100%;
    height: 100px;
    display: table;
    box-shadow: 1px 2px 4px 3px #4cd7ff;
}

footer .inner_footer {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: table;
    background: rgb(76,215,255);
    background: radial-gradient(circle, rgba(76,215,255,1) 35%, rgba(0,52,255,1) 100%);
    box-shadow: 1px 3px 4px 4px #4cd7ff;
}

div .footer_logo {
    margin: 3rem ;
    display: block;
    width: auto;
    height: auto;
    float: left;
    font-size: 1.8rem;
    color: white;
}   

.inner_footer .footer_link {
    margin: .5rem 1.5rem;
    display: block;
    width: 21.5%;
    height: auto;
    float: left;
}

.inner_footer .footer_link:last-child {
    margin-right: 0;
}

.inner_footer .footer_link h1 {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.footer_link a {
    display: flex;
    margin-top: .2rem;
    color: black;
}

.social a {
    display: inline-block;
    margin: 1.1rem;
    border-radius: 50%;
    opacity: 0.75;
    background: none;
}

.insta i {
    color: orangered;
}
.snap i {
    color: yellow;
}
.yt i {
    color: red;
}
.fb  i {
    color: darkblue;
}

.navarrow i {
    color: white;
}

.inner_footer span p {
    display: inline-block;
    width: 100%;
    margin-left: 350px;
    font-size: 1rem;
    border: .3rem solid none;
}

@media (max-width:768px) {
    footer .inner_footer {
        width: 75%;
    }

    footer div .footer_link {
        min-width: fit-content;
        margin-bottom: 1px;
        display: flex;
    }

    div .footer_logo {
        margin: 5rem;
        text-align: center;
    }   

    .inner_footer .footer_link span {
        width: 200px;
    }  
    .social {
        width: 120px;
        height: 100px;
        margin-left: 2.5rem;
    }
} 