.main-about {
    display: flex;
    justify-content: center;
    width: auto;
    margin: auto;
}

.main-about > .article-about {
    background: #e3e2df;
    padding: 4rem 14rem 0rem 14rem;
}

.main-about > .article-about > .article-aboutimg > img{
    width: 350px;
    margin: 25px;
    float: left;
    box-shadow: 1px 3px 4px 4px #254e58;
}

.main-about > .article-about p {
    letter-spacing: 1px;
    line-height: 30px;
    text-align: justify;
    text-indent: 3.5rem;
    padding-top: 2rem;
}

.main-about > .article-about > p::first-letter {
    font-weight: bold;
    font-size: 3rem;
} 
