@media (max-width: 541px) {
            /* Header */
    header {
        margin: .5rem;
        height: auto;
    }
    header > .inner-header {
        padding: 5px 5px;
        display: flex;
        flex-direction: column;
    }

            /* HomePage */
    /*  */

    .banner-image {
        background-size: contain;
    }
            
    .banner-image > .top-heading, .bottom-heading {
        padding: 1px;
        width: 200px;
        margin: 1rem;
    }

    /*  */
    .main-aside-columns {
        display: grid;
        grid-template-columns: 1fr;
        box-shadow: 1px 3px 4px 4px #66fcf1;
    }

    .main-aside-columns > .main-index {
        order: 1;
    }

    .main-aside-columns > .aside-index {
        order: 2;
    }

    .main-index > .article-index > .article-col {
        grid-template-columns: 1fr;
    }

    /*  */
    .image-slider > .slide-image img {
        width: 250px;
    }

                /* Footer */
    footer {
        height: auto;
    }
    
    footer > .inner-footer {
        grid-template-columns: 1fr;
    }
    
    .inner-footer > .footer-left-col {
        padding: 1rem .25rem .25rem .25rem;
    }

    .inner-footer > .footer-center-col {
        padding: .25rem;
    }

    .footer-center-col > .footer-contact-info, .footer-social-info {
        padding: .25rem;
    }

    .inner-footer > .footer-right-col {
        padding: .25rem;
        flex-direction: column;
    }

    .footer-right-col > .copyright-info {
        padding: 0.5rem;
        display: flex;
        justify-content: center;
    }

    .footer-right-col > .footer-navarrow {
        padding-top: 0.5rem;
        
    }

    .footer-right-col >  .footer-navarrow i {
        float: right;
    }

                /* Gallery */
    .article-gallery {
        padding: 2rem .5rem;
        background-color: #e3e2df;
    }

    .article-gallery > .gallery-images {
        grid-template-columns: 1fr 1fr;
        width: 340px;
        padding: 0.25rem;
    }

    .gallery-images > .gallery-col {
        padding: 0.25em;
    }

    .article-gallery > .gallery-bestimages {
        padding: .25rem;
    }

    .article-gallery > .gallery-bestimages > .gallery-col {
        flex-direction: column;
        width: 340px;
        padding: .25rem;
    }

    .gallery-images > .gallery-col > .gallery-postimg img {
        margin: .25rem;
    }

    .gallery-images > .gallery-col > .gallery-postimg img:hover {
        transform: translatez(10px);
   }

   .article-gallery > .gallery-bestimages > .gallery-col > .gallery-postimg img:hover{
    transform: translatez(10px);
}
    
                /* About */
    .main-about > .article-about {
        padding: 0rem .25rem .25rem .25rem;
    }  
    
    .main-about > .article-about > .article-aboutimg > img {
        margin: .5rem;
        height: 250px;
        width: auto;
    }

    .main-about > .article-about > .article-aboutimg {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .main-about > .article-about p {
        padding: .25rem;
    }

                /* Contact */
    .main-aside-columns > .contact-grid-cols {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .main-aside-columns > .contact-grid-cols > .main-contact {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contact-grid-cols > .aside-contact > .logo img {
        width: auto;
    }

    .contact-grid-cols > .aside-contact > .logo {
        justify-content: center;
    }

    .form-details > input {
        width: 80%;;
    }

    .form-details > textarea {
        width: 80%;
    }
}

@media (max-width: 913px) {
    /* Header */
}
