.inner-banner {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url(../images/meadow\ back\ lp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.hero-section {
    min-height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url(../images/grass\ front\ lp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85% 85%;
    padding: 8vh;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.hero-section > main {
    width: 85%;
    height: 300px;
    margin: auto;
    text-align: center;
    transform: translateY(5vh);
    padding: 1rem;
}

main > .logo {
    margin: auto;
    padding: .5rem;
}

main > .logo > img {
    height: 100%;
    width: 150px;  
    border-radius: 90%;
    box-shadow: 1px 3px 4px 4px #254e58;
}

main > p {
    display: flex;
    font-size: 16px;
    line-height: 1.5rem;
    margin: 1.5rem;
    color: white;
    letter-spacing: 1px;
    text-align: justify;
    text-indent: 3.5rem;
    padding: .5rem;
}

